/* GLOBAL RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #b2b7b9;
  line-height: 1.6;
}
body p {
  font-family: "Poppins", sans-serif;
}
body h2,
h3,
h4,
h5,
h6 {
  font-family: "Bad Script", cursive;
  color: #103c2f;
}
/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 3rem;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  height: 100px;
  width: 300px;
  object-fit: contain;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: #103c2f;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.nav-links a:hover {
  color: #4fdcd4;
}
.btn-secondary {
  background-color: rgb(85, 196, 139);
  color: white;
  border: none;
  padding: 0.9rem 1.6rem;
  border-radius: 2rem;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
.btn-secondary:hover {
  background-color: rgb(73, 139, 105);
}
.btn-secondary a {
  text-decoration: none;
  color: #fff;
}
.btn-primary {
  background-color: rgb(85, 196, 139);
  color: white;
  border: none;
  padding: 0.6rem 1.3rem;
  border-radius: 2rem;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
.btn-primary a {
  color: #103c2f;
  text-decoration: none;
}

.btn-primary:hover {
  background-color: #52a8a3;
}

/* HERO SECTION */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4rem 2rem;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),  url(/css/photos/community1.png) ; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  height: 100vh;
  color: #103c2f;
}

.hero-content h1 {
  /* font-size: 2rem; */
  margin-bottom: 1rem;
  color: #000;
  text-align: left;
  font-family: "Bad Script", cursive;
  /* height: auto;
  width: auto; */
  color: rgb(12, 12, 12);
  text-decoration: none;
  text-align: left;
  line-height: 60px;
  letter-spacing: -1px;
  font-weight: 700;
  font-size: 50px;
  backdrop-filter: none;
  filter: none;
  transform-origin: 50% 50% 0px;
  opacity: 1;
  transform: translate(0px);
  visibility: visible;
}
.hero-content span {
  color: rgb(85, 196, 139);
  text-decoration: wavy underline rgb(85, 196, 139);
}

.hero-content p {
  margin-bottom: 1.5rem;
  font-size: 18px;
  font-weight: 500;
  color: #000;
  text-align: left;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
}
.hero-image {
  height: 700px;
  width: 100%;
}

.services-section {
  padding: 80px 20px;
  background: #f5fafc;
}
.services-section h2 {
  text-align: center;
  font-family: "Bad Script", cursive;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #000;
}

.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
  max-width: 1200px;
  margin: auto;
}

/* LEFT GRADIENT BLOCK */
.services-main-card {
  background: linear-gradient(135deg, #6ad389, #008ab5);
  color: white;
  padding: 40px 30px;
  border-radius: 10px;
  min-height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle {
  letter-spacing: 3px;
  font-size: 14px;
  opacity: 0.9;
}

.services-main-card h2 {
  font-size: 30px;
  line-height: 1.3;
  margin-top: 15px;
  font-weight: 700;
}

/* SERVICE CARDS */
.service-card {
  background: white;
  padding: 35px 25px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  transition: 0.3s ease;
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
}

.icon {
  font-size: 40px;
  margin-bottom: 20px;
}

.service-card h3 {
  margin-bottom: 10px;
  font-size: 20px;
}

.service-card p {
  font-size: 15px;
  color: #666;
  line-height: 1.6;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .services-main-card h2 {
    font-size: 24px;
  }
}

/* POST SECTION */
.post-section {
  padding: 3rem 2rem;
  text-align: center;
}

.post-section h2 {
  color: #050505;
  margin-bottom: 2rem;
}

.post-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
}

.post-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  text-align: left;
}

.post-card h3 {
  color: #050505;
  margin-bottom: 0.5rem;
}

/* ABOUT SECTION */
#about {
  padding: 80px 20px;
  background: #f5fafc;
}
.about {
  display: flex;
  justify-content: center;
}
.about img {
  width: 600px;
  height: auto;
  margin-right: 2rem;
}

#about h2 {
  text-align: center;
  font-family: "Bad Script", cursive;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #000;
}

.about p {
  max-width: 700px;
  margin: auto;
  margin-bottom: 1rem;
  font-size: 18px;
  color: #666;
  line-height: 2;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
.sponsors-section {
  padding: 3rem 2rem;
  text-align: center;
}
.sponsors{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 5rem;
}
.sponsors img{
  width: 150px;
  height: auto;
  opacity: 0.8;
}

/* CTA SECTION */
.cta {
  background-color: #baf0d6;
  color: #103c2f;
  text-align: center;
  padding: 3rem 2rem;
}

.cta a {
  margin-top: 1rem;
  display: inline-block;
}

/* FOOTER */
footer {
  background-color: #4fdcd4;
  color: #fff;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
}

/* RESPONSIVE DESIGN */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .hero-content h1 {
    font-size: 1.6rem;
  }

  .search-filter {
    flex-direction: column;
  }
}
