* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #b2b7b9;
  line-height: 1.6;
  overflow-x: hidden;
}
body p {
  font-family: "Poppins", sans-serif;
}
body h2,
h3,
h4,
h5,
h6 {
  font-family: "Bad Script", cursive;
  color: #103c2f;
}
/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 3rem;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  height: 100px;
  width: 300px;
  object-fit: contain;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: #103c2f;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.nav-links a:hover {
  color: #4fdcd4;
}
.hamburger {
  display: none;
  flex-direction: column;
  width: 30px;
  cursor: pointer;
  gap: 6px;
}

.hamburger span {
  height: 3px;
  width: 100%;
  background: #103c2f;
  border-radius: 5px;
  transition: 0.3s ease;
}

/* MOBILE NAV BEHAVIOR */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background: #fff;
    padding: 1.5rem 0;
  }

  .navbar.active .nav-links {
    display: flex;
  }

  .navbar.active .hamburger span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  .navbar.active .hamburger span:nth-child(2) {
    opacity: 0;
  }
  .navbar.active .hamburger span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -7px);
  }
}
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background: #fff;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
  }

  .navbar {
    flex-wrap: wrap;
  }

  .navbar.active .nav-links {
    display: flex;
  }
}

.btn-secondary {
  background-color: rgb(85, 196, 139);
  color: white;
  border: none;
  padding: 0.9rem 1.6rem;
  border-radius: 2rem;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
.btn-secondary:hover {
  background-color: rgb(73, 139, 105);
}
.btn-secondary a {
  text-decoration: none;
  color: #fff;
}
.btn-primary {
  background-color: rgb(85, 196, 139);
  color: white;
  border: none;
  padding: 0.6rem 1.3rem;
  border-radius: 2rem;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
.btn-primary a {
  color: #103c2f;
  text-decoration: none;
}

.btn-primary:hover {
  background-color: #52a8a3;
}

/* HERO SECTION */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4rem 2rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  height: 100vh;
  color: #103c2f;
  flex-wrap: wrap;
  gap: 2rem;
}

.hero-content h1 {
  /* font-size: 2rem; */
  margin-bottom: 1rem;
  color: #000;
  text-align: left;
  font-family: "Bad Script", cursive;
  /* height: auto;
  width: auto; */
  color: rgb(12, 12, 12);
  text-decoration: none;
  text-align: left;
  line-height: 60px;
  letter-spacing: -1px;
  font-weight: 700;
  font-size: 50px;
  backdrop-filter: none;
  filter: none;
  transform-origin: 50% 50% 0px;
  opacity: 1;
  transform: translate(0px);
  visibility: visible;
}
.hero-content span {
  color: rgb(85, 196, 139);
  text-decoration: wavy underline rgb(85, 196, 139);
}

.hero-content p {
  margin-bottom: 1.5rem;
  font-size: 18px;
  font-weight: 500;
  color: #000;
  text-align: left;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
}
.hero-image {
  height: 700px;
    width: 100%;
  max-width: 800px;
}
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
    padding: 2rem 1rem;
  }

  .hero-content h1 {
    font-size: 32px;
    text-align: center;
    line-height: 1.3;
  }

  .hero-content p {
    text-align: center;
  }

  .hero-image {
    max-width: 90%;
    height: 300px;
  }
}

.services-section {
  padding: 80px 20px;
  background: #f5fafc;
}
.services-section h2 {
  text-align: center;
  font-family: "Bad Script", cursive;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #000;
}

.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
  max-width: 1200px;
  margin: auto;
}

/* LEFT GRADIENT BLOCK */
.services-main-card {
  background: linear-gradient(135deg, #6ad389, #008ab5);
  color: white;
  padding: 40px 30px;
  border-radius: 10px;
  min-height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle {
  letter-spacing: 3px;
  font-size: 14px;
  opacity: 0.9;
}

.services-main-card h2 {
  font-size: 30px;
  line-height: 1.3;
  margin-top: 15px;
  font-weight: 700;
}

/* SERVICE CARDS */
.service-card {
  background: white;
  padding: 35px 25px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  transition: 0.3s ease;
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
}

.icon {
  font-size: 40px;
  margin-bottom: 20px;
}

.service-card h3 {
  margin-bottom: 10px;
  font-size: 20px;
}

.service-card p {
  font-size: 15px;
  color: #666;
  line-height: 1.6;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .services-main-card h2 {
    font-size: 24px;
  }
}

/* POST SECTION */
.post-section {
  padding: 3rem 2rem;
  text-align: center;
}

.post-section h2 {
  color: #050505;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.post-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
}

.post-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  text-align: left;
}

.post-card h3 {
  color: #050505;
  margin-bottom: 0.5rem;
}

/* ABOUT SECTION */
#about {
  padding: 80px 20px;
  background: #f5fafc;
}
.about {
  display: flex;
  justify-content: center;
}
.about img {
  width: 600px;
  height: auto;
  margin-right: 2rem;
}

#about h2 {
  text-align: center;
  font-family: "Bad Script", cursive;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #000;
}

.about p {
  max-width: 700px;
  margin: auto;
  margin-bottom: 1rem;
  font-size: 18px;
  color: #666;
  line-height: 2;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
@media (max-width: 768px) {
  .about {
    flex-direction: column;
    text-align: center;
  }

  .about img {
    width: 100%;
    height: 300px;
  }
}
.sponsors-section {
  padding: 3rem 2rem;
  text-align: center;
}

.sponsors-section h2 {
  font-size: 2rem;
}

.sponsors img {
  width: 150px;
  height: auto;
  opacity: 0.8;
}
.sponsors {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  justify-content: center;
  gap: 5rem;
  align-items: center;}

/* .sponsor-logo img {
  width: 100%;
  height: auto;
} */
/* testimonial SECTION */
  .testimonial-container {
      width: 80%;
      min-height: 25vh;
      margin: 40px auto;
      padding: 20px;
      border-radius: 10px;
      background: #f8f8f8;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      text-align: center;
      position: relative;
    }
     
    .testimonial-header h3 {
      color: #000;
      padding: 10px;
      font-size: 2rem;
      text-align: center;
     
    }
    .testimonial {
      display: none;
      animation: fade 0.5s ease-in-out;
    }

    .testimonial.active {
      display: block;
    }

    #prevBtn,
    #nextBtn {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: black;
      color: white;
      border: none;
      padding: 8px 12px;
      cursor: pointer;
      border-radius: 50%;
      font-size: 18px;
    }

    #prevBtn { left: -20px; }
    #nextBtn { right: -20px; }

    @keyframes fade {
      from { opacity: 0; }
      to { opacity: 1; }
    }

    /* FIXED EQUAL COLUMNS SECTION  */
    .testimonial-flex {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 30px; 
      width: 100%;
      text-align: left;
    }
     
    .left-col {
      flex: 1;     
      min-width: 0;
      padding: 10px;
      text-align: center;
    }

    .right-col {
      flex: 1;     
      min-width: 0;
      padding: 10px;
      
    
    }

    .left-col h1 {
      margin: 0;
      font-size: 26px;
      color: #000;
    }

    .left-col p {
      margin-top: 5px;
      font-size: 15px;
      color: #333;
    }

    .right-col h1 {
      font-size: 20px;
      line-height: 1.4;
      margin: 0;
      color: #000;
    }

    .testimonial-child {
      margin-top: 15px;
    }

    .testimonial-child-details {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .testimonial-child-details-text h3 {
      margin: 0;
    }

    .testimonial-flex img {
      width: 70px;
      height: 70px;
      border-radius: 50%;
    }



    /* Responsive Fix */
    @media (max-width: 768px) {
      .testimonial-flex {
        flex-direction: column;
        text-align: center;
      }

      .left-col, .right-col {
        width: 100%;
      }

      .testimonial-child-details {
        justify-content: center;
      }
    }
    /* END OF TESTIMONIAL SECTION */


/* CTA SECTION */
.cta {
  background-color: #baf0d6;
  color: #103c2f;
  text-align: center;
  padding: 3rem 2rem;
}

.cta a {
  margin-top: 1rem;
  display: inline-block;
}

/* FOOTER */
footer {
  background-color: #4fdcd4;
  color: #fff;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
}

/* RESPONSIVE DESIGN */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .hero-content h1 {
    font-size: 1.6rem;
  }

  .search-filter {
    flex-direction: column;
  }
}
