@font-face {
    font-family: BadScript;
    src: url("./assets/font/BadScript-Regular.ttf");
}
@font-face {
    font-family: Helvetica;
    src: url("./assets/font/Helvetica.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
h3, p{
  font-family: Helvetica;
}

body {
  /* background: #f9f9f9; */
  background-color: #f5fafc;
  /* background-color: #232358; */
  color: #333;
  padding: 10px;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  color: #333;
  background-color: #f5fafc;
}
.logo img{
  width: 300px;
}

.navbar h2 {
  font-size: 2.8rem;
}

.search-bar input {
  /* float: right; */
  padding: 6px 10px;
  /* margin-top: 8px;
    margin-right: 16px; */
  background: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border: 3px solid lightgrey;
  border-radius: 5px;
}

.logo a{
  text-decoration: none;
  color: #103c2f;
  /* color: white; */
  font-family: BadScript;
  font-weight: bold;
}
#requestBtn {
  /* background-color: #5959a0; */
  background-color: #55c48b;
  color: white;
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  font-family: Helvetica;
  font-weight: bold;
}
#requestBtn:hover {
  background-color: #454580;
}
@media (max-width: 768px){
  .navbar {
    display: block;
  }
  .logo, .search-bar, #requestBtn {
    margin: 10px 0;
  } 
  
}

/* Stats section */
.stats {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 60px;
  justify-content: space-between;
}

.stat-card {
  border-radius: 10px;
  border: 1px solid grey;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  /* background-color: #5959a0; */
  /* background-color: #55c48b; */
  color: black;
  padding: 20px;
  cursor: pointer;
  font-weight: bold;
  line-height: 1.5;
  width: 250px;
  font-size: 20px;
}
.stat-card:hover{
  background-color: #55c48b;
}

.stat-card h3 {
  color: black;
}

/* Categories */
.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 60px;
  justify-content: center;
}

.tab {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 20px;
  background: #e0e0e0;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
}


.tab.active {
  /* background: #007bff; */
  background: #4fdcd4;
  color: white;
}

/* Cards */
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  max-width: 1200px;
  margin: 60px auto;
  gap: 15px;
  justify-content: center;
}
@media (min-width: 1200px) {
  .card-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  /* display: flex; */
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  height: auto;
  width: 334px;
}
.card p {
  margin: 10px 0;
  color: #666;
  line-height: 1.4;
  font-size: 18px;
  text-transform: capitalize;
}
.card h3 {
  margin-top: 0;
  /* color: #004aad; */
  color: black;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 600;
}
.card .category-tag {
  display: inline-block;
  padding: 10px 8px;
  border-radius: 20px;
  background: #ffdfdb;
  border: 1px solid #b75f64;
  /* background: black; */
  /* color: #007bff; */
  color: black;
  font-size: 0.75rem;
  margin-bottom: 8px;
  text-transform: capitalize;
}
.offer-help {
  padding: 10px 15px;
  /* background-color: #007bff; */
  background-color: #53c389;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 10px;
  text-align: center;
  border: none;
  cursor: pointer;
  text-transform: capitalize;
}
.contact-info {
  margin-top: 10px;
  color: #333;
  font-size: 16px;
  display: block;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  position: relative;
}

.modal-content form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-content input,
.modal-content select,
.modal-content textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal-content button {
  background: #007bff;
  color: white;
  border: none;
  padding: 0.7rem;
  border-radius: 5px;
  cursor: pointer;
}

.close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  cursor: pointer;
}
.material-icons{
  position: relative;
  top: 5px;
}
